* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

.carousel .owl-carousel .item-carousel {
  height: 530px;
  position: relative;
}
.carousel .owl-carousel .item-carousel .container .item-left img {
  display: block;
  height: 392px;
  width: auto;
}
.carousel .owl-carousel .item-carousel .container .item-right h1 {
  font-weight: 300;
  font-size: 40px;
  line-height: 48px;
  color: #000000;
}
.carousel .owl-carousel .item-carousel .container .item-right p {
  font-weight: 300;
  font-size: 20px;
  line-height: 24px;
  color: #000000;
}
.carousel .owl-carousel .item-carousel .container .item-right span {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  height: 50px;
  width: 150px;
  background-color: #f8b653;
  font-weight: 300;
  font-size: 20px;
  line-height: 24px;
  color: #ffffff;
}
.carousel .owl-carousel .item-carousel .img-bg-footer img {
  height: 393px;
  position: absolute;
  z-index: -1;
  bottom: 0;
  left: 0;
}
.carousel .owl-carousel .owl-dots button {
  background-color: red;
}