* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

.carousel {
  margin-top: 50px;
  position: relative;
}
.carousel .owl-carousel .item-carousel {
  height: 530px;
}
.carousel .owl-carousel .item-carousel .container .item-left img {
  display: block;
  height: 392px;
  width: auto;
}
.carousel .owl-carousel .item-carousel .container .item-right h1 {
  font-weight: 300;
  font-size: 40px;
  line-height: 48px;
  color: #000000;
}
.carousel .owl-carousel .item-carousel .container .item-right p {
  font-weight: 300;
  font-size: 20px;
  line-height: 24px;
  color: #000000;
}
.carousel .owl-carousel .item-carousel .container .item-right span {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  height: 50px;
  width: 150px;
  background-color: #f8b653;
  font-weight: 300;
  font-size: 20px;
  line-height: 24px;
  color: #ffffff;
}
.carousel .owl-carousel .owl-nav {
  margin: 0;
}
.carousel .owl-carousel .owl-nav .owl-prev {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
}
.carousel .owl-carousel .owl-nav .owl-next {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
}
.carousel .owl-carousel .owl-dots {
  position: absolute;
  top: 0;
  right: 50%;
  transform: translateX(-50%);
}
.carousel .owl-carousel .owl-dots button {
  background-color: blue;
}
.carousel .img-bg-footer img {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: -1;
}

.product {
  margin-top: 46px;
}
.product .container h2 {
  font-weight: 400;
  font-size: 40px;
  line-height: 48px;
  color: #000000;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}