@import "../Base/base";
@import "../Themes/variables";

.carousel {
  .owl-carousel {
    .item-carousel {
        height: 530px;
        position: relative;
      .container {
        // position: relative;
        .item-left {
          img {
            display: block;
            height: 392px;
            width: auto;
          }
        }
        .item-right {
          h1 {
            @include text-config($fw-light, 40px, 48px, #000000);
          }
          p {
            @include text-config($fw-light, 20px, 24px, #000000);
          }
          span {
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;
            height: 50px;
            width: 150px;
            background-color: #f8b653;
            @include text-config($fw-light, 20px, 24px, #ffffff);
          }
        }
      }
      .img-bg-footer{
        img{
            height: 393px;
            position:absolute;
            z-index: -1;
            bottom: 0;
            left: 0;
        }
      }
    }

    .owl-dots {
      button {
        background-color: red;
      }
    }
  }
}
