@import "../Base/base";
@import "../Themes/variables";

.carousel {
  margin-bottom: 30px;
  position: relative;
  // background-color: black;
  .owl-carousel {
    .item-carousel {
      height: 500px;
      .container {
        // position: relative;
        .item-left {
          img {
            display: block;
            height: 392px;
            width: auto;
          }
        }
        .item-right {
          h1 {
            @include text-config($fw-light, 40px, 48px, #000000);
          }
          p {
            @include text-config($fw-light, 20px, 24px, #000000);
          }
          span {
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;
            height: 50px;
            width: 150px;
            background-color: #f8b653;
            @include text-config($fw-light, 20px, 24px, #ffffff);
          }
        }
      }
    }
    .owl-nav {
      margin: 0;
      .owl-prev {
        position: absolute;
        top: 50%;
        left: 0;
        transform: translateY(-50%);
      }
      .owl-next {
        position: absolute;
        top: 50%;
        right: 0;
        transform: translateY(50%);
      }
    }
    .owl-dots {
      position: absolute;
      bottom: 20%;
      right: 50%;
      transform: translateX(50%);

      button {
        // background-color: blue;
      }
      span {
        width: 15px;
        height: 15px;
        border: 1px solid rgba(0, 0, 0, 0.13);
        background-color: white;
      }
    }
  }
  .img-bg-footer {
    img {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 393px;
      z-index: -1;
    }
  }
}

.product {
  margin-top: 46px;
  .container {
    h2 {
      @include text-config($fw-regular, 40px, 48px, #000000);
    }
    .row {
      .item {
      }
    }
  }
}
